/* variables  */
:root{
    --text-color: rgba(255, 255, 255, 0.75);
    --body-color: rgb(255, 255, 255);
    --trans-color: rgba(255, 255, 255, 0.05);

    --primary-color:#55823d;
    --secondary-color:#9ec36e;
    --background-color: #e0ead6;
    --green-alternative: #68a86c;
}

/* Estilizando a barra de rolagem vertical */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #fff; /* Cor do fundo da barra */
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--secondary-color); /* Cor da parte rolável */
    border-radius: 10px;
  }
  
  /* Estilizando a barra de rolagem horizontal */
  ::-webkit-scrollbar-thumb:horizontal {
    height: 10px;
  }

/* common style  */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

::placeholder{
    color: var(--body-color);
}

body{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    /* background-image: url(./assets/home-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

section{
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    padding: 0 5%;
    position: relative;
}

h1 {
    color: #fff;
    font-size: 2rem;
}

p,
h4,
a{
    color: var(--text-color);
}

h2, h3{
    color: var(--body-color);
}

button{
    border: 2px solid var(--text-color);
    color: var(--text-color);
    background-color: transparent;
    text-transform: capitalize;
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 12px;
    transition: .3s ease;
}

button:hover{
    cursor: pointer;
    background-color: #55823d;
    color: #fff;
}

.grid{
    display: grid;
}

.flex{
    display: flex;
}

.planto{
    max-width: 1920px;
    margin: 0 auto;
    height: auto;
    position: relative;
    background-color: #1b2316;
}

/* home  */
.home{
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.logo{
    display: flex;
    align-items: center;
    gap: 0.56rem;
}

.logo img{
    width: 40px;
}

.logo h4{
    text-transform: capitalize;
    font-size: 1.5rem;
    align-self: flex-end;
}

.nav_menu{
    display: none;
}

.nav_menu.active{
    width: 120px;
    height: auto;
    padding: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: .5rem;
    top: 80px;
    right: 20px;
    z-index: 1;
}

.close {
    display: none;
}

.close.active {
    display: block;
}

.nav_menu.active li {
    margin: .2rem;
}

.nav_menu.active li a{
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.2rem;
    
}

.nav_menu li a {
    color: #fff;
    transition: 1s;
}

.nav_menu li a:hover {
    color: #55823d;
    border-bottom: 1px solid #55823d;
}

.nav_icon{
    display: flex;
    align-items: center;
    gap: 1rem;
    visibility: hidden;
}

.nav_icon img{
    width: 22px;
}

.trend .title{
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.title{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title > h2{
    font-size: 25px;
}

.title > img{
    position: absolute;
}

.title > img:first-child{
    left: 22%;
    width: 50px;
}

.title > img:last-child{
    right: 22%;
    width: 50px;
}

.instructions {
    width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 12px;
    padding: 1rem;
    background: var(--secondary-color);
    font-style: italic;
    font-weight: 600;
    font-size: 1.2rem;
    color: #000; /* Uma cor mais clara para indicar que é uma instrução */
  }

.span_cont {
    width: auto;
    height: 2rem;
    border: 2px solid var(--secondary-color);
    padding: .5rem;
    text-align: center;
    text-transform: capitalize;
    border-radius: 12px;
    color: var(--secondary-color);
    font-size: .7rem;
}

.info_cont{
    border: 2px solid var(--text-color);
    padding: 10px 20px;
    border-radius: 12px;
    transition: all .3s ease-in-out;
}

.info_cont:hover{
    background: var(--primary-color);
}

.info_cont img{
    width: 20px;
}

/* selling  */
.selling{
    margin-top: 3rem;
}

.selling title{
    margin-bottom: 7rem;
    margin-top: 4rem;
}

.plants{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    position: relative;
    margin-top: 6rem;
    place-items: center;
}

.plant_items,
.review_content{
    width: 100%;
    max-width: 350px;
    position: relative;
    margin-bottom: 7rem;
}

/* .plant_items > img,
.review > img{
    top: 40px;
    position: absolute;
} */


.card-blur {
    background-color: #ffffff10; /* Cor de fundo */
    border-radius: 20px; /* Cantos arredondados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 20px; /* Espaçamento interno */
    width: 300px; /* Largura do elemento */
    height: auto; /* Altura do elemento */
}

.items_content,
.review_content{
    position: relative;
    z-index: 3;
}

.items_content_img{
    display: grid;
    place-items: center;
}

.items_content_img img{
    margin-top: -3rem;
    width: 250px;
    height: 250px;
    filter: drop-shadow(0 100px 80px rgba(0, 0, 0, 0.7));
    object-fit: contain;
}

.items_content_text{
    margin-top: 1rem;
}

.items_content_text h3{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.items_content_text p{
    font-size: 14px;
    padding-right: 30px;
    margin-bottom: 1rem;
}

.items_content_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items_content_inner > h3{
    margin: 0;
    font-size: 22px;
    font-weight: 400;
}

.items_content_inner .info_cont{
    padding: 7px 10px;
}

/* footer  */
footer{
    width: 100%;
    background-color: #222c1d;
}

.footer{
    padding: 3rem 2rem;
}

.footer_top{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    width: 100%;
}

.footer_logo{
    display: flex;
    align-items: center;
    column-gap: .6rem;
    margin-bottom: 1.5rem;
}

.footer_logo h3{
    font-weight: 700;
    font-size: 2rem;
}

.footer_title > p{
    color: var(--body-color);
    font-weight: 500;
    font-size: 1rem;
}

footer ul li h2{
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
}

footer ul li:not(:first-child){
    margin-bottom: 1rem;
    color: var(--body-color);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1rem;
}

.search {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.form_group {
    width: 20rem;
    height: 2.5rem;
    border-radius: .5rem;
    margin-right: 1rem;
    background: transparent;
    border: 1px solid var(--body-color);
    color: var(--body-color);
    padding: .5rem;

}

.form_group button:hover{
    cursor: pointer;
    background-color: #55823d;
    color: #fff;
}

.footer_bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

.footer_bot .social{
    display: flex;
    gap: 50%;
    text-transform: uppercase;
}

.footer_bot p{
    color: var(--body-color);
    font-weight: 700;
}

@media screen and (max-width: 500px) {
    .nav_icon {
        visibility: visible;
    }

    .search {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .instructions {
        width: auto;
    }
}

@media screen and (max-width: 750px){

    .nav_icon {
        visibility: visible;
    }

    .instructions {
        width: auto;
    }

    .search {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
 
}

@media screen and (max-width: 550px){

    .nav_icon {
        visibility: visible;
    }
    
    .instructions {
        width: auto;
    }

    .search {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    section{
        padding: 0 2%;
    }

    .nav_icon {
        visibility: visible;
    }

    .instructions {
        width: auto;
    }

    .search {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .home_text_inner{
        flex-direction: column;
        row-gap: 2rem;
    }
    .review_content{
        max-width: 100%;
        padding: 4rem 3.5rem 0;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .home__part2  > img{
        right: 0%;
    }
    .review_content{
        max-width: 250px;
        padding: 4rem 0 0;
        margin-left: 0;
    }
    .review > img{
        left: 0;
    }
    .items_content_img{
        height: 160px;
    }
    .items_content_img img{
        width: 200px;
        margin-top: -5rem;
    }
    .plant_items > img{
        max-width: 300px;
    }

    .plants{
        row-gap: 4rem;
    }
    .items_content_text,
    .plant_items,
    .items_content{
        width: 100%;
        max-width: 300px;
    }
    .review_content > p{
        max-width: 250px;
    }
    .review_content{
        padding: 2.7rem 1rem 0;
    }
    .title > img:first-child{
        left: 5%;
    }
    .title > img:last-child{
        right: 25px;
    }
}

@media screen and (min-width: 500px) {
    .footer_top{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem;
        column-gap: 3rem;
        width: 100%;
    }
    form{
        grid-column: 1/3;
    }
    section{
        padding: 0 3%;
    }
}

@media screen and (min-width: 750px) {
    .menu{
        display: none;
    }
    .nav_menu{
        display: unset;
    }
    .nav_menu li{
        display: inline-block;
        padding: 0 1rem;
    }
    .nav_menu li a{
        text-transform: capitalize;
        font-weight: 500;
        display: flex;
        align-items: center;
    }
    .nav_menu li a img{
        width: 10px;
        margin-left: .3rem;
    }
    .home__part1{
        min-width: 250px;
    }
    .home__content{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 3rem;
    }
    .home__text-part h1{
        font-size: 5rem;
        line-height: 4.5rem;
    }
    .home__text-part p{
        width: max(20rem, 40vw);
    }
    .home__text-part h1,
    .home__text-part p{
        text-align: left;
    }
    .home__text-part{
        place-items: unset;
    }
    .home .trend .title{
        margin-top: 5rem;
        margin-bottom: 7rem;
    }
    .title > h2{
        font-size: 35px;
    }
    .trend{
        margin-top: 2rem;
    }
    .trend__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 320px;
    }
    .trend_2image{
        position: relative;
        top: -5rem;
    }
    .trend_2image.trend_dest{
        top: -4rem;
    }
    .trend_2image img{
        width: 400px;
    }
    .trend_text.trend_text_desk{
        margin: 0;
        width: 50%;
    }
    .footer_top{
        grid-template-columns: 1fr 1fr 1.5fr;
        row-gap: 0;
        column-gap: 5rem;
        width: 100%;
    }
    form{
        grid-column: unset;
    }
    .trend_dir{
        flex-direction: row-reverse;
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
    .trend_radi{
        border-radius: 100px;
    }
    .trend_sec_img{
        max-width: 250px;
        margin-right: 3rem;
    }
    .trend_bo{
        margin-bottom: 7rem;
    }
    .trend_2image img.best_img{
        width: 45rem;
    }
    .selling .trend_text{
        margin-top: 2rem;
    }
    .selling.trend_2image{
        top: -2rem;
        left: -5rem;
    }
    .form_group input[type="submit"]{
        width: 50%;
    }
    .form_group input[type="email"]{
        width: 50%;
    }
    .selling .trend__content{
        margin-top: 8rem;
    }
    .title > img:first-child{
        left: 20%;
    }
    
    .title > img:last-child{
        right: 20%;
    }
}

@media screen and (min-width: 960px) {
    .home__part2 > img{
        width: 420px;
        height: 420px;
    }
    .selling .trend__content{
        height: 29rem;
    }
    .form_group input[type="submit"]{
        width: 40%;
    }
    .form_group input[type="email"]{
        width: 60%;
    }
    .title > img:first-child{
        left: 30%;
    }
    .title > img:last-child{
        right: 30%;
    }
}

@media screen and (min-width: 1100px) {
    .title > img:first-child{
        left: 35%;
    }
    .title > img:last-child{
        right: 35%;
    }
}